.container{
    background-color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    max-width: 300px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;

}

h1{
    margin-top: 0;
}

input{
    display: block;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.butao{
    background-color: aliceblue;
    border-radius: 10px;
    border-color: aliceblue;

}